/*
font-family: 'Saira',
sans-serif;
font-family: 'Saira Condensed',
sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: relative;
  background-color: #29a6dc;
  height: 100vh;
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;
}

.header>* {
  position: absolute;
}

.welcome {
  z-index: 1;
  top: 7%;
  left: 5%;
  right: 5%;
  font-family: 'Saira Condensed', sans-serif;
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.photo__header {
  height: 50%;
  bottom: 0;
  right: 0;
}


.welcome__name {
  margin-top: 15px;
  font-size: 20px;
}

.welcome__job {
  font-size: 20px;
  font-weight: normal;
}

.welcome__btn {
  font-family: 'Saira', sans-serif;
  font-weight: 300;
  line-height: 32px;
  padding: 0 20px;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  font-size: 12px;
  border: 2px solid white;
}

.features {
  width: 100vw;
  overflow: hidden;
  margin-top: 20%;
  text-align: center;
}

.features__slog {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
}

.feature__photo {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

}

.feature__slog {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.feature__desc {
  margin-top: 10%;
  font-size: 1rem;
  padding: 10px;
}

.text {
  width: 100%;
  background-color: black;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  padding: 10px;
}

.portfolio {
  width: 100vw;
}

.project {
  height: 100vh;
}

.project__photo {
  left: 0;
  width: 100%;
}

.project__name {
  display: block;
  width: 90%;
  font-size: 1.8rem;
  padding: 10%;
  text-transform: uppercase;
  border-bottom: 4px solid rgb(68, 8, 146);
}

.project__desc {
  font-size: 1.2rem;
  text-align: left;
  padding: 10%;
}

/* -------------------------------------------------------@MEDIA----------------------------------------- */

@media (orientation: portrait) and (min-width: 360px) {
  .welcome__name {
    font-size: 24px;
  }

  .welcome__job {
    font-size: 24px;
  }

  .welcome__btn {
    margin-top: 24px;
    line-height: 40px;
    font-size: 16px;
  }
}

@media (orientation: portrait) and (min-width: 410px) {
  .welcome__name {
    font-size: 26px;
  }

  .welcome__job {
    font-size: 26px;
  }

  .welcome__btn {
    margin-top: 40px;
    line-height: 50px;
    font-size: 20px;
  }

  .photo__header {
    right: -20%;
  }
}

@media (orientation: portrait) and (min-width: 768px) {
  .welcome__hi {
    font-size: 80px;
  }

  .welcome__name {
    font-size: 32px;
  }

  .welcome__job {
    font-size: 32px;
  }

  .welcome__btn {
    margin-top: 60px;
    line-height: 60px;
    font-size: 24px;
  }

  .photo__header {
    right: -20%;
  }
}





@media (orientation: landscape) {
  .photo__header {
    height: 80%;
    bottom: 0;
    right: -5%;
  }

  .welcome {
    top: 15%;
    left: 7%;
    right: 48%;
  }

  .welcome__btn {
    margin-top: 40px;
  }

  .features {

    width: 100vw;
    overflow: hidden;
    margin-top: 5%;
  }

  .feature {
    float: left;
    width: 33%;
    padding: 20px;
    margin: 0 auto;
  }

  .feature__photo {
    width: 100%;
    margin: 0 auto;
  }

  .features__slog {
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
  }

  .feature__slog {
    margin-top: 5%;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }

  .feature__desc {
    margin-top: 10%;
    font-size: 1rem;
    padding: 10px
  }

  .text {
    width: 100vw;
    font-size: 2rem;

  }

  .portfolio {

    width: 100vw;
    background-color: black;
  }

  .project {
    position: relative;
    width: 90vw;
    height: 50vh;
    margin: 0 auto;
    background-color: white;
  }

  .project:nth-of-type(odd) {
    margin-bottom: 2%;
  }

  .project:nth-of-type(2) {
    margin-bottom: 2%;
  }


  .project>* {
    position: absolute;
  }

  .project__photo {
    width: 50%;
    height: 50vh;
    left: 0;
    margin: auto;
  }

  .project__name {
    left: 50%;
    width: 40%;
    font-size: 1rem;
    padding: 2%;
    text-transform: uppercase;
    border-bottom: 4px solid rgb(68, 8, 146);
    font-weight: bold;
  }

  .project__desc {
    display: block;
    position: absolute;
    left: 50%;
    top: 22%;
    max-height: 50%;
    font-size: 0.8rem;
    padding: 2%;
    text-align: left;
  }

}

@media (orientation: landscape) and (min-width: 640px) {
  .welcome__name {
    font-size: 24px;
  }

  .welcome__job {
    font-size: 24px;
  }

  .welcome__btn {
    font-size: 16px;
    line-height: 40px;
  }
}

@media (orientation: landscape) and (min-width: 1024px) {

  .welcome {
    left: 3%;
  }

  .welcome__hi {
    font-size: 56px;
  }

  .welcome__name {
    margin-top: 40px;
    font-size: 34px;
  }

  .welcome__job {
    font-size: 34px;
  }

  .welcome__btn {
    margin-top: 80px;
    font-size: 28px;
    line-height: 70px;
  }

  .photo__header {
    right: -35%;
    height: 80%;

  }
}

@media (orientation: landscape) and (min-width: 1280px) {

  .welcome {
    text-align: left;
    left: 6%;
  }

  .welcome__hi {
    font-size: 100px;
  }

  .welcome__name {
    margin-top: 40px;
    font-size: 50px;
  }

  .welcome_job {
    font-size: 50px;
  }

  .welcome__btn {
    margin-top: 100px;
    font-size: 30px;
    line-height: 80px;
    padding: 0 40px;
    border-width: 2px;
  }

  .photo__header {
    right: -18%;
    height: 80%;

  }

}

@media (orientation: landscape) and (min-width: 1600px) {

  .welcome {
    left: 8%;
  }

  .welcome__hi {
    font-size: 120px;
  }

  .welcome__name {
    margin-top: 40px;
    font-size: 60px;
  }

  .welcome__job {
    font-size: 60px;
  }

  .welcome__btn {
    line-height: 90px;
  }

  .photo__header {
    right: -8%;
    height: 90%;

  }

}


@media (min-width: 1024px) {
  .welcome__btn {
    cursor: pointer;
    transition: .3s;
  }

  .welcome__btn:hover {
    background-color: #fff;
    color: #111;
  }

}