* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Saira', sans-serif;
  max-width: 1920px;
  font-size: 10px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

header {
  position: relative;
  background-color: #29a6dc;
  height: 100vh;
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;
}

header>* {
  position: absolute;
}

.photo__header {
  height: 50%;
  bottom: 0;
  right: 0;
}

.welcome {
  z-index: 1;
  top: 7%;
  left: 5%;
  right: 5%;
  font-family: 'Saira Condensed',
    sans-serif;
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}


.welcome__name {
  margin-top: 15px;
  font-size: 20px;
}

.welcome__job {
  font-size: 20px;
  font-weight: normal;
}

.welcome__btn {
  font-family: 'Saira', sans-serif;
  font-weight: 300;
  line-height: 32px;
  padding: 0 20px;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  font-size: 12px;
  border: 2px solid white;
}

.project_about__name {
  text-transform: uppercase;
}

.contact {
  background-color: black;
  padding: 20px;
}

.contact__wrap {
  max-width: 1024px;
  margin: 0 auto;
}

.contact__info {
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  color: white;
  margin-bottom: 20px;
}

.contact_wrap_form__input,
.contact_wrap_form__textarea,
.contact_wrap_form__btn {
  width: 100%;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.contact_wrap_form__input {
  height: 3.6rem;
}

.contact_wrap_form__textarea {
  height: 20vh;
}

.contact_wrap_form__btn {
  line-height: 3rem;
  font-size: 1.4rem;
  padding: 20px;
  background-color: black;
  border: 2px solid white;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.contact_wrap__socials {
  padding: 3rem;
}

.contact_wrap_socials__social {
  padding: 1rem 0;
  color: white;
}

.contact_wrap_socials_social__img {
  float: left;
}

.contact_wrap_socials_social__text {
  float: left;
  font-size: 1.4rem;
  line-height: 7.2rem;
  padding-left: 3rem;

}

.footer {
  width: 100vw;
  height: 20vh;
  background-color: #29a9df;
  color: white;
}

.footer__copyright {
  text-align: center;
  line-height: 20vh;
  font-weight: bold;
  font-size: 2rem;

}



/* --------------------------------------MEDIA-------------------------------------------------- */

@media (orientation: portrait) and (min-width: 360px) {
  .welcome__name {
    font-size: 24px;
  }

  .welcome__job {
    font-size: 24px;
  }

  .welcome__btn {
    margin-top: 24px;
    line-height: 40px;
    font-size: 16px;
  }
}

@media (orientation: portrait) and (min-width: 410px) {
  .welcome__name {
    font-size: 26px;
  }

  .welcome__job {
    font-size: 26px;
  }

  .welcome__btn {
    margin-top: 40px;
    line-height: 50px;
    font-size: 20px;
  }

  .photo__header {
    right: -20%;
  }
}

@media (orientation: portrait) and (min-width: 768px) {
  .welcome__hi {
    font-size: 80px;
  }

  .welcome__name {
    font-size: 32px;
  }

  .welcome__job {
    font-size: 32px;
  }

  .welcome__btn {
    margin-top: 60px;
    line-height: 60px;
    font-size: 24px;
  }

  .photo__header {
    right: -20%;
  }

}


@media (orientation: landscape) {
  .photo__header {
    height: 80%;
    bottom: 0;
    right: -5%;
  }

  .welcome {
    top: 15%;
    left: 7%;
    right: 48%;
  }

  .welcome__btn {
    margin-top: 40px;
  }

  .contact_wrap__socials {
    font-size: 0;
  }

  .contact_wrap_socials__social {
    display: inline-block;
    width: 50%;
  }

  .contact_wrap_socials_social__text {
    padding-left: 1rem;
  }

}

@media (orientation: landscape) and (min-width: 640px) {
  .welcome__name {
    font-size: 24px;
  }

  .welcome__job {
    font-size: 24px;
  }

  .welcome__btn {
    font-size: 16px;
    line-height: 40px;
  }

}

@media (orientation: landscape) and (min-width: 1024px) {

  .welcome {
    left: 3%;
  }

  .welcome__hi {
    font-size: 56px;
  }

  .welcome__name {
    margin-top: 40px;
    font-size: 34px;
  }

  .welcome__job {
    font-size: 34px;
  }

  .welcome__btn {
    margin-top: 80px;
    font-size: 28px;
    line-height: 70px;
  }

  .photo__header {
    right: -22%;
    height: 85%;

  }

}

@media (orientation: landscape) and (min-width: 1280px) {

  .welcome {
    text-align: left;
    left: 6%;
  }

  .welcome__hi {
    font-size: 100px;
  }

  .welcome__name {
    margin-top: 40px;
    font-size: 50px;
  }

  .welcome__job {
    font-size: 50px;
  }

  .welcome__btn {
    margin-top: 100px;
    font-size: 30px;
    line-height: 80px;
    padding: 0 40px;
    border-width: 2px;
  }

  .photo__header {
    right: -18%;
    height: 80%;

  }

}

@media (orientation: landscape) and (min-width: 1600px) {

  .welcome {
    left: 8%;
  }

  .welcome__hi {
    font-size: 120px;
  }

  .welcome__name {
    margin-top: 40px;
    font-size: 60px;
  }

  .welcome__job {
    font-size: 60px;
  }

  .welcome__btn {
    line-height: 90px;
  }

  .photo__header {
    right: -8%;
    height: 90%;

  }

}

@media (min-width: 1024px) {
  .welcome__btn {
    cursor: pointer;
    transition: .3s;
  }

  .welcome__btn:hover {
    background-color: #fff;
    color: #111;
  }

  .contact_wrap__form,
  .contact_wrap__socials {
    float: left;
    width: 50%;
    padding: 0 2rem;
  }

  .contact__info {
    font-size: 3rem;
  }

  .contact_wrap_socials_social__text {
    font-size: 1.5rem;
  }

  .contact_wrap_socials__social {
    display: block;
    width: 50%;
    margin: 0 auto;
  }

  .contact_wrap_form__input {
    height: 4.6rem;
  }

  .contact_wrap_form__textarea {
    height: 20vh;
  }

  .contact_wrap_form__btn {
    line-height: 4rem;
    font-size: 1.4rem;
    padding: 20px;
    background-color: black;
    border: 2px solid white;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
  }

}


.features {
  max-width: 1600px;
  margin: 20px auto 0;
  padding: 5%;
  text-align: center;

}

.features__slog {
  font-family: 'Saira Condensed',
    sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 15px;

}

.feature__slog {
  font-family: 'Saira Condensed',
    sans-serif;
  font-size: 22px;
  text-transform: uppercase;
}

.feature__desc {
  font-family: 'Saira',
    sans-serif;
  font-size: 12px;
  font-weight: 300;
  margin: 20px 0;
}

.feature__photo {
  width: 100%;
  margin: 5px 0;
  max-width: 100%;
}


@media (min-width:360px) {
  .features__slog {
    font-size: 28px;
  }

  .feature__slog {
    font-size: 24px;
  }

  .feature__desc {
    font-size: 14px;
  }
}

@media (min-width:768px) {
  .features__slog {
    font-size: 36px;
  }

  .feature__slog {
    font-size: 28px;
  }

  .feature__desc {
    font-size: 18px;
  }
}

@media (min-width:1024px) {
  .features {
    margin-top: 50px;
    padding: 5% 2%;
    text-align: center;

  }

  .feature {
    float: left;
    width: 33%;
    padding: 20px;
  }

  .features__slog {
    font-size: 36px;
  }

  .feature__slog {
    font-size: 22px;
  }

  .feature__desc {
    font-size: 16px;
    line-height: 120%;
    padding: 0 10px;
  }
}

@media (min-width:1600px) {


  .feature {

    padding: 20px 50px;
  }

  .features__slog {
    font-size: 60px;
  }

  .feature__slog {
    font-size: 32px;
  }

  .feature__desc {
    font-size: 21px;
    line-height: 140%;
    padding: 0 10px;
  }
}

.portfolio {
  background-color: black;
  padding: 10px 0 30px;
}

.portfolio__text {
  font-size: 28px;
  font-family: 'Saira Condensed',
    sans-serif;
  text-transform: uppercase;
  color: white;
  text-align: center;
  padding: 10px 20px;
  margin-bottom: 15px;
}

.project_picture__img {
  width: 100%;
}

.project__about {
  color: white;
  font-family: 'Saira',
    sans-serif;
  font-weight: normal;
  padding: 10px 20px 20px 0;
  text-align: left;
}

.project_about__name {
  font-size: 18px;
  border-bottom: 2px solid white;
  margin-bottom: 12px;
  padding-bottom: 6px;
  text-indent: 20px;
}

.project_about__desc {
  font-size: 12px;
  padding-left: 20px;
}

.project {
  max-width: 1400px;
  margin: 0 auto 20px;
}

.project:nth-of-type(odd) {
  background-color: #ff4f2c;
}

.project:nth-of-type(even) {
  background-color: #29a6dc;
}

@media (min-width:768px) {

  .portfolio__text {
    font-size: 40px;
  }

  .project_about__name {
    font-size: 28px;
    text-indent: 40px;
  }

  .project_about__desc {
    font-size: 18px;
    padding-left: 40px;
  }

  .project {
    margin-bottom: 40px;
  }

}

@media (orientation: landscape) {

  .project__picture,
  .project__about {
    width: 50%;
    float: left;
  }

  .project_picture__img {
    display: block;
  }

  .project:nth-of-type(even) .project__picture {
    float: right;

  }

  .project:nth-of-type(even) .project__about {
    padding-right: 0;
  }

  .project:nth-of-type(even) .project_about__desc {
    padding-right: 20px;
  }

  .project:nth-of-type(even) .project_about__name {
    text-indent: 0;
    margin-left: 40px;
  }

  .contact_wrap_form__btn:hover {
    cursor: pointer;
    background-color: white;
    color: black;
  }

}


@media (orientation: landscape) and (min-width: 1400px) {
  .portfolio__text {
    font-size: 60px;
    padding: 30px 0;
  }

  .project_about__name {
    padding-top: 50px;
    font-size: 28px;
    text-indent: 40px;
    margin-bottom: 50px;
  }

  .project_about__desc {
    font-size: 18px;
    padding-left: 40px;
    line-height: 180%;
  }

  .project {
    margin-bottom: 40px;
  }
}


/* Sekcja Slogan*/

.motto {
  text-align: center;
  background-image: url(../images/motto.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  color: white;
}

.motto_text__title {
  font-family: 'Saira Condensed', sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 25px;

}

.motto_text__desc {
  font-family: 'Saira', sans-serif;
  font-size: 18px;
}

.motto_text_desc__author {
  margin-top: 20px;
  font-size: 12px;
}

.motto__bg {
  padding: 30px 10px;
  background-color: rgba(0, 63, 114, 0.5);
  /*  #003f72*/
}

@media (orientation: landscape) {
  .motto_text__desc {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {

  .motto__bg {
    padding: 50px 10px;

  }

  .motto_text__title {
    font-size: 48px;
    margin-bottom: 35px;

  }

  .motto_text__desc {
    font-size: 26px;
    width: 60%;
    margin: 0 auto;
  }

  .motto_text_desc__author {
    margin-top: 40px;
    font-size: 18px;
  }
}

@media (min-width: 1024px) {

  .motto__bg {
    padding: 80px 10px;

  }

  .motto_text__title {
    font-size: 60px;
    margin-bottom: 55px;

  }

  .motto_text__desc {
    font-size: 40px;
    width: 50%;
  }

  .motto_text_desc__author {
    margin-top: 40px;
    font-size: 26px;
  }
}

/* Sekcja hobby*/

.hobby {
  max-width: 1920px;
  margin: 0 auto;
}

.hobby__item {
  height: 25vh;
  background-position: center;
  background-repeat: no-repeat;
}

.hobby__item:nth-of-type(1) {
  background-image: url(../images/hobby1.jpg);
}

.hobby__item:nth-of-type(2) {
  background-image: url(../images/hobby2.jpg);
}

.hobby__item:nth-of-type(3) {
  background-image: url(../images/hobby3.jpg);
}

.hobby__item:nth-of-type(4) {
  background-image: url(../images/hobby4.jpg);
}


.hobby_item__text {
  font-family: 'saira', sans-serif;
  color: white;
  text-align: center;
  /*  line-height: 25vh;*/
  text-shadow: 0 0 4px black;
  background-color: rgba(0, 0, 0, .5);
  font-size: 20px;
  padding: 5px 0;
}

.hobby__text {
  font-family: 'saira condensed', sans-serif;
  padding: 20px;
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
}

@media (min-width:533px) {
  .hobby__item {
    float: left;
    width: 50%;
    height: 40vh;
  }
}

@media (min-width:768px) {

  .hobby__text {
    font-size: 48px;
    margin-top: 40px;
    margin-bottom: 35px;

  }

  .hobby_item__text {
    font-size: 30px;
    padding: 15px 0;
  }
}

@media (min-width: 1024px) {
  .hobby_item__text {
    padding: 0;
    line-height: 40vh;
    opacity: 0;
    transition: 1s;
    cursor: default;
  }

  .hobby__item:hover .hobby_item__text {
    opacity: 1;
  }
}